@model CozyPawsPetboarding.Models.EditEmployeeViewModel

@{
    ViewBag.Title = "Edit Employee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Employee</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.EmployeeId)

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Role)
        @Html.TextBoxFor(m => m.Role, new { @class = "form-control" })
    </div>

    <div class="form-check">
        @Html.CheckBoxFor(m => m.IsActive)
        @Html.LabelFor(m => m.IsActive)
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}